html {
  scroll-padding-top: 200px; 
}

body{
    padding: 4%;
    margin: 4%;
   }

p{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-image: linear-gradient(180deg, green, blue);
}

h1{
    text-align: center;
}
.padding-top{
    padding-top:50vh;
}

.welcome{
    background: url('https://wallpaperaccess.com/full/2876582.jpg') no-repeat;
    height: 100vh;
    background-size: cover;
    text-align: center;
    margin-bottom: 100px;
}


#projects{
   margin-top: 250px;
    margin-bottom: 100px;
    }

#about{
  margin-top: 350px;
}
.skill{
  background-color: aliceblue;
}

#contacts{
   
    height: 100vh;
    background-image: linear-gradient(180deg,#90EE90,#FFFAF0);
  
    }
    @keyframes Hi {
        0%   {color: red;font-size:2em}
        25%  {color: yellow;font-size:1em}
        50%  {color: blue;}
        100% {color: green;}
      }
      h1 {
        
        color:black;
        animation-name: Hi;
        animation-duration: 10s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
      }
      @keyframes fontZise {
        0%   {font-size:2em}
        25%  {font-size:1em}
        50%  {font-size:2em;}
        100% {font-size:1em}
      }
      .frontEnd {
        
        color:black;
        animation-name: fontZise;
        animation-duration: 6s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
      }
      @keyframes fadeinSize {
        0%   {font-size:2em;}
        25%  {font-size:1em;}
        50%  {opacity:1;font-size:2em}
        100% {font-size:1em}
      }
      h4 {
        
        color:black;
        animation-name: fadeinSize;
        animation-duration: 6s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
      }
      
 